@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

:root{
    --red-color: #880d1e;
}

*{
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    background-color: #6b705c;
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container{
    width: 500px;
}

h1{
    text-transform: uppercase;
    font-weight: bold;
    color: var(--red-color);
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
}

h3{
    color: #fff;
    margin: 10px 0 20px; 
}

#textarea{
    display: block;
    width: 100%;
    height: 100px;
    border: none;
    padding: 10px;
    margin: 0 0 20px;
    font-size: 16px;
    font-family: inherit;
}

.tags{
    background-color: #cb997e;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    display:inline-block;
    margin: 0 10px 10px;
    font-size: 14px;
}

.tags.highlight {
  background-color: var(--red-color);
  color: #333;
}

small {
  color: #ffe8d6;
  display: flex;
  justify-content: center;
  text-decoration: underline;
  letter-spacing: 1px;
}