@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --left-bg-color: rgba(216, 238, 238, 0.88);
    --right-bg-color: rgba(200, 225, 225, 0.88);
    --left-btn-hover-color: rgba(179, 225, 225, 0.88);
    --right-btn-hover-color: rgba(119, 167, 167, 0.88);
    --hover-width: 75%;
    --other-width: 25%;
    --speed: 1000ms;
}

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Inter', sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;

}

.container{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #333;
}

.split{
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.split.left{
    left: 0;
    background: no-repeat center/cover
    url('https://elevatex.de/wp-content/uploads/2023/08/Frontend-1.png');
}

.split.left::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--left-bg-color);
}

.split.right{
    right: 0;
    background: no-repeat center/cover
    url('https://d31i9b8skgubvn.cloudfront.net/folder/encyclopedia/Conocimientos%20de%20un%20desarrollador%20backend.jpg');
}

.split.right::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--right-bg-color);
}

h1{
    font-size: 3rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    text-shadow: 3px 3px 10px rgba(0,0,0,1);
    white-space: nowrap;
}

.btn{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    color: #fff;
    border: solid 3px #fff;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1.5rem;
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    box-shadow: 3px 3px 10px rgba(0,0,0,1);
    text-transform: uppercase;
}

.split.left .btn:hover{
    background-color: var(--left-btn-hover-color);
    border-color: transparent;
}

.split.right .btn:hover{
    background-color: var(--right-btn-hover-color);
    border-color: transparent;
}

.hover-left .left{
    width: var(--hover-width);
}

.hover-left .right{
    width: var(--other-width);
}

.hover-right .right{
    width: var(--hover-width);
}

.hover-right .left{
    width: var(--other-width);
}

.split.left,
.split.right,
.split.left::before,
.split.right::before {
    transition: all var(--speed) ease-in-out;
}

@media (max-width: 800px) {
  h1 {
    font-size: 1.5rem;
    top: 40%;
  }

  .btn {
    padding: 1.2rem;
    width: 12rem;
    font-size: 1.2rem;
  }
}