@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik+Storm&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: "Rubik Storm", system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.bg{
    background: no-repeat center/cover 
    url('https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832_1280.jpg');
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: blur(0px);
}

.loading-text{
    color: #a3b18a;
    font-size: 53px;
}