@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: "Inter",sans-serif;
    background-color: #ff4d6d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    padding: 20px;
}

.container{
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
    border-radius: 15px;
    width: 800px;
    max-width: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}  

h3{
    margin: 0;
    letter-spacing: 2px;
    opacity: 0.5;
}

.joke{
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 50px auto;
    max-width: 600px;
}

.btn{
    background-color:#c9184a ;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 30px;
    font-family: inherit;
    font-size: 16px;
    padding: auto 40px;
    color: #fff;
}

.btn:active{
    transform: scale(0.95);
}