@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    background-color: rgba(107, 188, 150, 0.62);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 0;
}

.btn{
    background-color: rgba(91, 120, 176, 1);
    border: none;
    border-radius: 10px;
    color:#fff;
    font-family: inherit;
    font-weight: bold;
    padding: 1.5rem 3rem;
    margin: 0.5rem;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover{
    opacity: 0.825;   
}
.btn:focus{
    outline: none;
}
